{{ 'custom-style1.css' | asset_url | stylesheet_tag }}
<style>
  h4.address_title{
    display:none;
  }
  .address-top-bar .action_return{
    display:none;
  }
@media (max-width:768px) {
  .address-top-bar .action_return{
    display:block;
  }
  div#admin_header.address-top-bar h1.h2.feature-header{
    padding:10px 0;
    text-align:left;
  }
}
</style>
<div class="central rte page-width">  
  <div id="admin_header" class="address-top-bar">
    <div class="action_link action_return note" id="return_to_store" data-cc-animate="">
      <a class="return_order" data-cc-animate-click="" href="/account">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
        <circle cx="12.5" cy="12.5" r="11.8421" stroke="black" stroke-width="1.31579"></circle>
        <path d="M15.2236 5.22363L7.83595 12.6113L15.2236 19.999" stroke="black" stroke-width="1.31579"></path>
        </svg>
      </a>
  </div>
    <h1 class="h2 feature-header" data-cc-animate>Saved Addresses</h1>    
  </div>
	<div class="container tab-account">
		<div class="tabcontent d-block">
			<div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
					
				
					<div id="address_tables" data-cc-animate data-cc-animate-delay="0.4s">
						{% paginate customer.addresses by 10 %}
				
						{% for address in customer.addresses %}
						<div class="address_table align-center">
							<div id="view_address_{{address.id}}" class="customer_address">
								<h4 class="address_title">
									{{ address.street }}
									{% if address == customer.default_address %}<span class="default_address note">({{ 'customer.addresses.default' | t }})</span>{% endif %}
								</h4>
								<div class="view_address box-address">
										<h6>Address</h6>
										<div class="row p-b-5">
											<div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3"><span>Name:</span></div>
											<div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-9">{{ address.first_name }} {{address.last_name }}</div>
										</div>
										<div class="row p-b-5">
											<div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3"><span>City:</span></div>
											<div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-9">{{ address.street }}{{ address.company }}</div>
										</div>
										<div class="row p-b-5">
											<div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3"><span>Pincode:</span></div>
											<div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-9">{{ address.country }} {{ address.zip }}</div>
										</div>
										<div class="row p-b-5">
											<div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3"><span>Country:</span></div>
											<div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-9">{{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}</div>
										</div>														
										<div class="row p-b-5">
											<div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3"><span>Phone-No:</span></div>
											<div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-9">{{ address.phone }}</div>
										</div>														
										
										<div class="btn-row-acc address_actions">
												<span class="action_link action_edit">
									<a href="#" class="btn btn-gray address-edit-toggle" data-form-id="{{ address.id }}" aria-owns="edit_address_{{ address.id }}" aria-expanded="false">
										{{ 'customer.addresses.edit' | t }}
									</a>
								</span>
												<span class="action_link action_delete">
									<a href="#" class="btn btn-gray address-delete" data-target="{{ address.url }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
										{{ 'customer.addresses.delete' | t }}
									</a>
								</span>
										</div>
								</div>
							</div>
							<div id="edit_address_{{address.id}}" class="customer_address edit_address" style="display: none">
								<h4>{{ 'customer.addresses.edit_address' | t }}</h4>
				
								{% form 'customer_address', address %}
								<table class="customer_address_table">
									<tr>
										<td class="label"><label for="address_first_name_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label></td>
										<td class="value"><input type="text" id="address_first_name_{{form.id}}" class="address_form address_first_name_edit" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
									</tr>
									<tr>
										<td class="label"><label for="address_last_name_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label></td>
										<td class="value"><input type="text" id="address_last_name_{{form.id}}" class="address_form address_last_name_edit" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
									</tr>
									<tr>
										<td class="label"><label for="address_company_{{form.id}}">{{ 'customer.addresses.company' | t }}</label></td>
										<td class="value"><input type="text" id="address_company_{{form.id}}" class="address_form address_company_edit" name="address[company]" value="{{form.company}}" size="40" /></td>
									</tr>
									<tr>
										<td class="label"><label for="address_address1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label></td>
										<td class="value"><input type="text" id="address_address1_{{form.id}}" class="address_form address_address1_edit" name="address[address1]" value="{{form.address1}}" size="40" /></td>
									</tr>
									<tr>
										<td class="label"><label for="address_address2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label></td>
										<td class="value"><input type="text" id="address_address2_{{form.id}}" class="address_form address_address2_edit" name="address[address2]" value="{{form.address2}}" size="40" /></td>
									</tr>
									<tr>
										<td class="label"><label for="address_city_{{form.id}}">{{ 'customer.addresses.city' | t }}</label></td>
										<td class="value"><input type="text" id="address_city_{{form.id}}" class="address_form address_city_edit" name="address[city]" value="{{form.city}}" size="40" /></td>
									</tr>
									<tr>
										<td class="label"><label for="address_country_{{form.id}}">{{ 'customer.addresses.country' | t }}</label></td>
										<td class="value">
											<select id="address_country_{{form.id}}" name="address[country]" class="address_country_edit" data-default="{{form.country}}">{{ country_option_tags }}</select>
										</td>
									</tr>
									<tr id="address_province_container_{{form.id}}" style="display:none">
										<td class="label"><label for="address_province_{{form.id}}">{{ 'customer.addresses.province' | t }}</label></td>
										<td class="value"><select id="address_province_{{form.id}}" class="address_form address_province_edit" name="address[province]" data-default="{{form.province}}"></select></td>
									</tr>
									<tr>
										<td class="label"><label for="address_zip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label></td>
										<td class="value"><input type="text" id="address_zip_{{form.id}}" class="address_form address_zip_edit" name="address[zip]" value="{{form.zip}}" size="40" /></td>
									</tr>
									<tr>
										<td class="label"><label for="address_phone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label></td>
										<td class="value"><input type="text" id="address_phone_{{form.id}}" class="address_form address_phone_edit" name="address[phone]" value="{{form.phone}}" size="40" /></td>
									</tr>
									<tr>
										<td class="label"></td>
										<td class="value set_default"><label>{{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}</label></td>
									</tr>
									<tr>
										<td class="label"></td>
										<td class="value">
											<div class="action_bottom address">
												<input class="btn edit_form_address"  data-id="{{form.id}}" type="submit" value="{{ 'customer.addresses.update' | t }}" />
												<span class="note"><a href="#" class="btn" onclick="$(this).closest('.customer_address').toggle(); return false;">{{ 'customer.addresses.cancel' | t }}</a></span>
											</div>
										</td>
									</tr>
								</table>								
								{% endform %}
							</div>
						</div><!-- end .address_table -->
						{% endfor %}
				
						<div id="address_pagination">{{ paginate | default_pagination }}</div>
						{% endpaginate %}
					</div><!-- end #address_tables -->
				</div>
              <div class="col-12 col-sm-12">
                <div id="action" class="action_link action_add note text-center">
						<a href="#" onclick="$('#add_address').toggle(); return false;" class="btn btn-gray" style="float: left">
							{{ 'customer.addresses.add_new' | t }}
						</a>
						<div class="fright action_link action_return note" id='return_to_account' data-cc-animate  data-cc-animate-delay="0.2s" style="display:none;" >
							<a style="margin: 0;" data-cc-animate-click href="/pages/purchase-orders" class="btn btn-gray return_orders">
								{{ 'customer.account.return' | t }}
							</a>
						</div>
					</div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <div id="add_address" class="customer_address edit_address align-center" style="display: none">
						{% form 'customer_address', customer.new_address %}
						<h4 id="add_address_title">{{ 'customer.addresses.add_new' | t }}</h4>
						<table class="customer_address_table">
							<tr>
								<td class="label"><label for="address_first_name_new">{{ 'customer.addresses.first_name' | t }}</label></td>
								<td class="value"><input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
							</tr>
							<tr>
								<td class="label"><label for="address_last_name_new">{{ 'customer.addresses.last_name' | t }}</label></td>
								<td class="value"><input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
							</tr>
							<tr>
								<td class="label"><label for="address_company_new">{{ 'customer.addresses.company' | t }}</label></td>
								<td class="value"><input type="text" id="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
							</tr>
							<tr>
								<td class="label"><label for="address_address1_new">{{ 'customer.addresses.address1' | t }}</label></td>
								<td class="value"><input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
							</tr>
							<tr>
								<td class="label"><label for="address_address2_new">{{ 'customer.addresses.address2' | t }}</label></td>
								<td class="value"><input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
							</tr>
							<tr>
								<td class="label"><label for="address_city_new">{{ 'customer.addresses.city' | t }}</label></td>
								<td class="value"><input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
							</tr>
							<tr>
								<td class="label"><label for="address_country_new">{{ 'customer.addresses.country' | t }}</label></td>
								<td class="value">
									<select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
								</td>
							</tr>
							<tr id="address_province_container_new" style="display: none">
								<td class="label"><label for="address_province_new">{{ 'customer.addresses.province' | t }}</label></td>
								<td class="value">
									<select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
								</td>
							</tr>
							<tr>
								<td class="label"><label for="address_zip_new">{{ 'customer.addresses.zip' | t }}</label></td>
								<td class="value"><input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
							</tr>
							<tr>
								<td class="label"><label for="address_phone_new">{{ 'customer.addresses.phone' | t }}</label></td>
								<td class="value"><input type="text" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
							</tr>
							<tr>
								<td class="label"></td>
								<td class="value hll"><label>{{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}</label></td>
							</tr>
							<tr>
								<td class="label"></td>
								<td class="value">
									<div class="action_bottom address">
								<input class="btn add_form_address" type="submit" value="{{ 'customer.addresses.add' | t | escape }}" />
								<span class="note"><a class="btn" href="#" onclick="$('#add_address').toggle(); return false;">{{ 'customer.addresses.cancel' | t }}</a></span>
						</div>
								</td>
							</tr>
						</table>						
						{% endform %}
					</div>
              </div>
				
			</div>
		</div>
	</div>				
</div>

<script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
<script type="text/javascript" charset="utf-8">
document.addEventListener("DOMContentLoaded", function(event) {
  $('.address-delete').on('click', function(evt) {
    evt.preventDefault();
    var $el = $(this);
    var target = $el.data('target');
    var confirmMessage = $el.data('confirm-message');
    if (
      confirm(confirmMessage || 'Are you sure you wish to delete this address?')
    ) {
      Shopify.postLink(target, {
        parameters: { _method: 'delete' }
      });
    }
  });
  $('.address-edit-toggle').on('click', function(evt) {
    evt.preventDefault();
    var formId = $(this).data('form-id');
    var $editButton = $(this);
    var $editAddress = $('#edit_address_' + formId);
    var isExpanded = $editButton.attr('aria-expanded') === 'true';
    $editAddress.toggle();
    $editButton.attr('aria-expanded', !isExpanded).focus();
  });
});

// initialize observers on address selectors
new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});
{% for address in customer.addresses %}
new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
{% endfor %}
</script>



{% comment %}{{ 'customer.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- paginate customer.addresses by 5 -%}
  <div class="customer addresses section-{{ section.id }}-padding" data-customer-addresses>
    <h1>{{ 'customer.addresses.title' | t }}</h1>
    <a href="{{ routes.account_url }}">
      {{ 'customer.account.return' | t }}
    </a>

    <div data-address>
      <button
        type="button"
        aria-expanded="false"
        aria-controls="AddAddress"
      >
        {{ 'customer.addresses.add_new' | t }}
      </button>
      <div id="AddAddress">
        <h2 id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
        {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
          <div class="field">
            <input
              type="text"
              id="AddressFirstNameNew"
              name="address[first_name]"
              value="{{ form.first_name }}"
              autocomplete="given-name"
              placeholder="{{ 'customer.addresses.first_name' | t }}"
            >
            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
          </div>
          <div class="field">
            <input
              type="text"
              id="AddressLastNameNew"
              name="address[last_name]"
              value="{{ form.last_name }}"
              autocomplete="family-name"
              placeholder="{{ 'customer.addresses.last_name' | t }}"
            >
            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
          </div>
          <div class="field">
            <input
              type="text"
              id="AddressCompanyNew"
              name="address[company]"
              value="{{ form.company }}"
              autocomplete="organization"
              placeholder="{{ 'customer.addresses.company' | t }}"
            >
            <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
          </div>
          <div class="field">
            <input
              type="text"
              id="AddressAddress1New"
              name="address[address1]"
              value="{{ form.address1 }}"
              autocomplete="address-line1"
              placeholder="{{ 'customer.addresses.address1' | t }}"
            >
            <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
          </div>
          <div class="field">
            <input
              type="text"
              id="AddressAddress2New"
              name="address[address2]"
              value="{{ form.address2 }}"
              autocomplete="address-line2"
              placeholder="{{ 'customer.addresses.address2' | t }}"
            >
            <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
          </div>
          <div class="field">
            <input
              type="text"
              id="AddressCityNew"
              name="address[city]"
              value="{{ form.city }}"
              autocomplete="address-level2"
              placeholder="{{ 'customer.addresses.city' | t }}"
            >
            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
          </div>
          <div>
            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <div class="select">
              <select
                id="AddressCountryNew"
                name="address[country]"
                data-default="{{ form.country }}"
                autocomplete="country"
              >
                {{ all_country_option_tags }}
              </select>
              <span class="svg-wrapper">
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </div>
          </div>
          <div id="AddressProvinceContainerNew" style="display: none">
            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
            <div class="select">
              <select
                id="AddressProvinceNew"
                name="address[province]"
                data-default="{{ form.province }}"
                autocomplete="address-level1"
              ></select>
              <span class="svg-wrapper">
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </div>
          </div>
          <div class="field">
            <input
              type="text"
              id="AddressZipNew"
              name="address[zip]"
              value="{{ form.zip }}"
              autocapitalize="characters"
              autocomplete="postal-code"
              placeholder="{{ 'customer.addresses.zip' | t }}"
            >
            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
          </div>
          <div class="field">
            <input
              type="tel"
              id="AddressPhoneNew"
              name="address[phone]"
              value="{{ form.phone }}"
              autocomplete="tel"
              placeholder="{{ 'customer.addresses.phone' | t }}"
            >
            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
          </div>
          <div>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
          </div>
          <div>
            <button>{{ 'customer.addresses.add' | t }}</button>
            <button type="reset">{{ 'customer.addresses.cancel' | t }}</button>
          </div>
        {%- endform -%}
      </div>
    </div>

    <ul role="list">
      {%- for address in customer.addresses -%}
        <li data-address>
          {%- if address == customer.default_address -%}
            <h2>{{ 'customer.addresses.default' | t }}</h2>
          {%- endif -%}
          {{ address | format_address }}
          <button
            type="button"
            id="EditFormButton_{{ address.id }}"
            aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
            aria-controls="EditAddress_{{ address.id }}"
            aria-expanded="false"
            data-address-id="{{ address.id }}"
          >
            {{ 'customer.addresses.edit' | t }}
          </button>
          <button
            type="button"
            aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
            data-target="{{ address.url }}"
            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
          >
            {{ 'customer.addresses.delete' | t }}
          </button>
          <div id="EditAddress_{{ address.id }}">
            <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
            {%- form 'customer_address', address -%}
              <div class="field">
                <input
                  type="text"
                  id="AddressFirstName_{{ form.id }}"
                  name="address[first_name]"
                  value="{{ form.first_name }}"
                  autocomplete="given-name"
                  placeholder="{{ 'customer.addresses.first_name' | t }}"
                >
                <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressLastName_{{ form.id }}"
                  name="address[last_name]"
                  value="{{ form.last_name }}"
                  autocomplete="family-name"
                  placeholder="{{ 'customer.addresses.last_name' | t }}"
                >
                <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressCompany_{{ form.id }}"
                  name="address[company]"
                  value="{{ form.company }}"
                  autocomplete="organization"
                  placeholder="{{ 'customer.addresses.company' | t }}"
                >
                <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressAddress1_{{ form.id }}"
                  name="address[address1]"
                  value="{{ form.address1 }}"
                  autocomplete="address-line1"
                  placeholder="{{ 'customer.addresses.address1' | t }}"
                >
                <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressAddress2_{{ form.id }}"
                  name="address[address2]"
                  value="{{ form.address2 }}"
                  autocomplete="address-line2"
                  placeholder="{{ 'customer.addresses.address2' | t }}"
                >
                <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressCity_{{ form.id }}"
                  name="address[city]"
                  value="{{ form.city }}"
                  autocomplete="address-level2"
                  placeholder="{{ 'customer.addresses.city' | t }}"
                >
                <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
              </div>
              <div>
                <label for="AddressCountry_{{ form.id }}">
                  {{ 'customer.addresses.country' | t }}
                </label>
                <div class="select">
                  <select
                    id="AddressCountry_{{ form.id }}"
                    name="address[country]"
                    data-address-country-select
                    data-default="{{ form.country }}"
                    data-form-id="{{ form.id }}"
                    autocomplete="country"
                  >
                    {{ all_country_option_tags }}
                  </select>
                  <span class="svg-wrapper">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                </div>
              </div>
              <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                <label for="AddressProvince_{{ form.id }}">
                  {{ 'customer.addresses.province' | t }}
                </label>
                <div class="select">
                  <select
                    id="AddressProvince_{{ form.id }}"
                    name="address[province]"
                    data-default="{{ form.province }}"
                    autocomplete="address-level1"
                  ></select>
                  <span class="svg-wrapper">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                </div>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressZip_{{ form.id }}"
                  name="address[zip]"
                  value="{{ form.zip }}"
                  autocapitalize="characters"
                  autocomplete="postal-code"
                  placeholder="{{ 'customer.addresses.zip' | t }}"
                >
                <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="tel"
                  id="AddressPhone_{{ form.id }}"
                  name="address[phone]"
                  value="{{ form.phone }}"
                  autocomplete="tel"
                  placeholder="{{ 'customer.addresses.phone' | t }}"
                >
                <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
              </div>
              <div>
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{ form.id }}">
                  {{ 'customer.addresses.set_default' | t }}
                </label>
              </div>
              <div>
                <button>{{ 'customer.addresses.update' | t }}</button>
                <button type="reset">{{ 'customer.addresses.cancel' | t }}</button>
              </div>
            {%- endform -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>

    {%- if paginate.pages > 1 -%}
      {%- if paginate.parts.size > 0 -%}
        <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
          <ul role="list">
            {%- if paginate.previous -%}
              <li>
                <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                  <span class="svg-wrapper">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                </a>
              </li>
            {%- endif -%}

            {%- for part in paginate.parts -%}
              <li>
                {%- if part.is_link -%}
                  <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                    {{- part.title -}}
                  </a>
                {%- else -%}
                  {%- if part.title == paginate.current_page -%}
                    <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                      {{- part.title -}}
                    </span>
                  {%- else -%}
                    <span>{{ part.title }}</span>
                  {%- endif -%}
                {%- endif -%}
              </li>
            {%- endfor -%}

            {%- if paginate.next -%}
              <li>
                <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                  <span class="svg-wrapper">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

<script>
  window.addEventListener('load', () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  });
</script>
{% endcomment %}
{% schema %}
{
  "name": "t:sections.main-addresses.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
