{{ 'binary.css' | asset_url | stylesheet_tag }}
<style>  
.section-{{ section.id }}-padding {padding-block: {{ section.settings.padding_top_mob }}px {{ section.settings.padding_bottom_mob }}px; background: {{ section.settings.bg_color }};   } .fw-img-bnr .main__home__banner{width:100%;height:auto; position:relative;}.fw-vertical__space-remove {display: block;line-height: 0; margin: 0;padding: 0;}.fw-vertical__space-remove img {height: 100%; width: 100%;object-fit: contain;border-radius: 0px;}a.p-collec-link { width: 100%;height: 100%;}a.p-collec-link img {width: 100%;border-radius: 0px;}{%- if page.handle == 'go-rewards' or page.handle == 'go-rewards-member' -%}.main__home__banner a.p-collec-link img {border-radius: 0px;}{%- endif -%}
@media(min-width:768px){.section-{{ section.id }}-padding {padding-block: {{ section.settings.padding_top }}px {{ section.settings.padding_bottom }}px;}{%- if page.handle == 'go-rewards' or page.handle == 'go-rewards-member' -%}.fw-img-bnr .main__home__banner{ margin: -1px auto 0; width: 80%;}{%- endif -%}}
{%- if template.name == 'index' -%}a.p-collec-link img{border-radius:10px} {%- endif -%}
</style>
<div class="swiper NewSwiper main__home__banner section-{{ section.id }}-padding {% if section.settings.add-page-width %}page-width {% endif %}">
  <div class="swiper-wrapper page-main-bnr">
  {%- for block in section.blocks -%}
      <div class="swiper-slide fw-relative-bnr">
        <a class="p-collec-link" href="{{ block.settings.collec-link }}">  
          <picture class="fw-vertical__space-remove">
            {%- if block.settings.mobile__image != blank -%}
              <source srcset="{{ block.settings.mobile__image | img_url: '' }}" media="(max-width: 749px)" width="414" height="600" />
            {%- else -%}
              <source srcset="{{ block.settings.desktop__image | img_url: 'master' }}" media="(max-width: 749px)" width="414" height="600" />
            {%- endif -%}          
            {%- if block.settings.desktop__image != blank %}
              <source srcset="{{ block.settings.desktop__image | img_url: 'master' }}" media="(min-width: 750px)" width="100%" height="550" />              
            {%- endif -%}          
            <img src="{{ block.settings.desktop__image | img_url: 'master' }}" width="100%" height="550" alt="{{ block.settings.desktop__image.alt }}" loading="{% if forloop.index == 1 %}eager{% else %}lazy{% endif %}" fetchpriority="{% if forloop.index == 1 %}high{% else %}auto{% endif %}" />
          </picture> 
        </a>
      </div>  
  {%- endfor -%}      
  </div>
   <div class="swiper-pagination"></div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var swiper = new Swiper(".NewSwiper", {
      slidesPerView: 1,
      loop: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  });
</script>
{% schema %}
  {
    "name": "Test",
    "class": "fw-img-bnr",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 0
      }, 
      {
        "type": "range",
        "id": "padding_top_mob",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top Mobile",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom_mob",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom Mobile",
        "default": 0
      },
        {
          "type": "checkbox",
          "id": "add-page-width",
          "label": "Add Page Width ",
          "default":false
        }
    ],
    "blocks":[
          {
      "type": "image",
      "name": "Image Block",
      "settings": [
        {
        "type": "image_picker",
        "id": "desktop__image",
        "label": "Desktop Image"
        },
        {
        "type": "image_picker",
        "id": "mobile__image",
        "label": "Mobile Image"
        },
        {
        "type": "url",
        "id": "collec-link",
        "label": "Banner Link"
        }
      ],
     }
    ],
    "presets": [
      {
      "name": "Test"
      }
    ]
  }
{% endschema %}